In [1]:
print("hello world")

hello world

In [1]:
# Ask for input from the user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Add the two numbers
sum = num1 + num2

# Print the result
print("The sum of {0} and {1} is {2}".format(num1, num2, sum))

The sum of 2.0 and 5.0 is 7.0

In [2]:
if 5 > 2:
    print("Five is greater than two!") # This is a comment

Five is greater than two!

In [1]:
b="Hello, World!"
print(b[2:5])

llo

In [3]:
b="Hello, World!"
print(b[:5])

Hello

In [2]:
b="Austin Owuor"
print(b[7:12])

Owuor

In [4]:
b="Hello, World!"
print(b[2:])

llo, World!

In [9]:
b="Hello, World!"
print(b[-2:5])

In [10]:
a="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [11]:
a="Hello, World!"
print(a.lower())

hello, world!

In [12]:
a="Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [18]:
a="Hello"
b="World"
c=a + "\n" + b
print(c)

Hello
World

In [20]:
age=36
txt="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [21]:
num1=10
num2=20
print(num1+num2)

30

In [22]:
#store input numbers
num1=input('Enter first number: ')
num2=input('Enter second number: ')

#add two numbers
sum=float(num1)+float(num2)
 
#display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 8 and 6 is 14.0

In [ ]:
#cube of a number
num=float(input('Enter a number: '))
cube=num**3
print('The cube of {0} is {1}'.format(num, cube))

In [23]:
#create a list
L1=[10, 20, 30, 40, 50]
L1[2]

30

In [26]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list[0])
print(list[1])
print(list[2])
print(list[3])

#slice a list
print(list[0:6])
print(list[:])
print(list [2:5])
print(list [1:6:2])

0
1
2
3
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 3, 5]

In [3]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list)
list[2]=20
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 20, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list=["apple", "banana", "cherry"]  
print(list)
list.append("orange")
print(list)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [5]:
list=["apple", "banana", "cherry"]
print(list)
list.insert(0, "orange")
print(list)

['apple', 'banana', 'cherry']
['orange', 'apple', 'banana', 'cherry']

In [6]:
list=["apple", "banana", "cherry", "orange", "kiwi"]
print(list)
list.remove("banana")
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['apple', 'cherry', 'orange', 'kiwi']

In [7]:
list=["apple", "banana", "cherry", "orange", "kiwi"]
print(list)
list.pop(3)
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'kiwi']

In [8]:
list=["apple", "banana", "cherry", "orange", "kiwi"]
print(list) 
del list[2]
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['apple', 'banana', 'orange', 'kiwi']

In [9]:
list=["apple", "banana", "cherry", "orange", "kiwi"]    
print(list)
list.clear()
print(list)

['apple', 'banana', 'cherry', 'orange', 'kiwi']
[]

In [12]:
thistuple=("apple","apple","banana", "cherry")

print(thistuple)

('apple', 'apple', 'banana', 'cherry')

In [13]:
thistuple=("apple")
print(thistuple)

apple

In [14]:
thistuple=("apple",)
print(thistuple)

('apple',)

In [15]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[5])

melon

In [16]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

START TO END OF TUPLE

In [17]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [1]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
y=list(thistuple)
y.append("pineapple")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'pineapple')

In [2]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
y=list(thistuple)
y[0]=("pineapple")
thistuple=tuple(y)
print(thistuple)

('pineapple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [3]:
thistuple =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tuple1=("strawberry", "blueberry", "raspberry")
thistuple+=tuple1
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry', 'blueberry', 'raspberry')

In [ ]:
# Assignment on Tuples

# 1. Create a tuple with at least 5 different fruits and print the tuple.
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print("Original tuple:", fruits)

# 2. Access and print the second and fourth elements of the tuple.
print("Second element:", fruits[1])
print("Fourth element:", fruits[3])

# 3. Create a new tuple by concatenating the original tuple with another tuple containing 3 more fruits.
more_fruits = ("fig", "grape", "honeydew")
all_fruits = fruits + more_fruits
print("Concatenated tuple:", all_fruits)

# 4. Convert the concatenated tuple to a list, add a new fruit to the list, and convert it back to a tuple.
fruits_list = list(all_fruits)
fruits_list.append("kiwi")
updated_fruits = tuple(fruits_list)
print("Updated tuple:", updated_fruits)

# 5. Find and print the length of the updated tuple.
print("Length of updated tuple:", len(updated_fruits))

# 6. Check if a specific fruit (e.g., "banana") is present in the updated tuple and print the result.
is_banana_present = "banana" in updated_fruits
print("Is 'banana' present in the updated tuple?", is_banana_present)

# 7. Iterate through the updated tuple and print each fruit.
print("Fruits in the updated tuple:")
for fruit in updated_fruits:
    print(fruit)

# 8. Create a tuple with a single element and print its type.
single_element_tuple = ("single_fruit",)
print("Single element tuple:", single_element_tuple)
print("Type of single element tuple:", type(single_element_tuple))

# 9. Unpack the first three elements of the updated tuple into three variables and print them.
fruit1, fruit2, fruit3, *rest = updated_fruits
print("First fruit:", fruit1)
print("Second fruit:", fruit2)
print("Third fruit:", fruit3)

# 10. Create a nested tuple and access an element from the inner tuple.
nested_tuple = (("apple", "banana"), ("cherry", "date"), ("elderberry", "fig"))
print("Nested tuple:", nested_tuple)
print("Element from inner tuple:", nested_tuple[1][1])

In [ ]:
index_of_kiwi = thistuple.index('kiwi')
print("Index of 'kiwi':", index_of_kiwi)# Assignment on Tuples

# 1. Create a tuple with at least 5 different fruits and print the tuple.
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print("Original tuple:", fruits)

# 2. Access and print the second and fourth elements of the tuple.
print("Second element:", fruits[1])
print("Fourth element:", fruits[3])

# 3. Create a new tuple by concatenating the original tuple with another tuple containing 3 more fruits.
more_fruits = ("fig", "grape", "honeydew")
all_fruits = fruits + more_fruits
print("Concatenated tuple:", all_fruits)

# 4. Convert the concatenated tuple to a list, add a new fruit to the list, and convert it back to a tuple.
fruits_list = list(all_fruits)
fruits_list.append("kiwi")
updated_fruits = tuple(fruits_list)
print("Updated tuple:", updated_fruits)

# 5. Find and print the length of the updated tuple.
print("Length of updated tuple:", len(updated_fruits))

# 6. Check if a specific fruit (e.g., "banana") is present in the updated tuple and print the result.
is_banana_present = "banana" in updated_fruits
print("Is 'banana' present in the updated tuple?", is_banana_present)

# 7. Iterate through the updated tuple and print each fruit.
print("Fruits in the updated tuple:")
for fruit in updated_fruits:
    print(fruit)

# 8. Create a tuple with a single element and print its type.
single_element_tuple = ("single_fruit",)
print("Single element tuple:", single_element_tuple)
print("Type of single element tuple:", type(single_element_tuple))

# 9. Unpack the first three elements of the updated tuple into three variables and print them.
fruit1, fruit2, fruit3, *rest = updated_fruits
print("First fruit:", fruit1)
print("Second fruit:", fruit2)
print("Third fruit:", fruit3)

# 10. Create a nested tuple and access an element from the inner tuple.
nested_tuple = (("apple", "banana"), ("cherry", "date"), ("elderberry", "fig"))
print("Nested tuple:", nested_tuple)
print("Element from inner tuple:", nested_tuple[1][1])
# 11. Create a tuple with at least 5 different items and print the tuple.
items = ("item1", "item2", "item3", "item4", "item5")
print("Original tuple:", items)

# 12. Access and print the first and last elements of the tuple.
print("First element:", items[0])
print("Last element:", items[-1])

# 13. Create a new tuple by repeating the original tuple 3 times.
repeated_items = items * 3
print("Repeated tuple:", repeated_items)

# 14. Convert the repeated tuple to a list, remove an item from the list, and convert it back to a tuple.
items_list = list(repeated_items)
items_list.remove("item3")
updated_items = tuple(items_list)
print("Updated tuple after removal:", updated_items)

# 15. Find and print the length of the updated tuple.
print("Length of updated tuple after removal:", len(updated_items))

# 16. Check if a specific item (e.g., "item2") is present in the updated tuple and print the result.
is_item2_present = "item2" in updated_items
print("Is 'item2' present in the updated tuple?", is_item2_present)

# 17. Iterate through the updated tuple and print each item.
print("Items in the updated tuple:")
for item in updated_items:
    print(item)

# 18. Create a tuple with a single element and print its type.
single_element_tuple = ("single_item",)
print("Single element tuple:", single_element_tuple)
print("Type of single element tuple:", type(single_element_tuple))

# 19. Unpack the first two elements of the updated tuple into two variables and print them.
item1, item2, *rest = updated_items
print("First item:", item1)
print("Second item:", item2)

# 20. Create a nested tuple and access an element from the inner tuple.
nested_tuple = (("item1", "item2"), ("item3", "item4"), ("item5", "item6"))
print("Nested tuple:", nested_tuple)
print("Element from inner tuple:", nested_tuple[2][1])

In [1]:
#this is a set
thisset={"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [2]:
#set with duplicate values
thisset={"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
#set with mixed data types
thisset={"apple", 1, 2, 3}
print(thisset)

{'apple', 2, 3, 1}

In [4]:
#loop through a set
thisset={"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

In [5]:
#add an item to a set
thisset={"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [7]:
#add items from another set
thisset={"apple", "banana", "cherry"}
tropical={"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'pineapple', 'banana', 'cherry', 'apple', 'papaya'}

In [8]:
#remove an item from a set
thisset={"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [9]:
#remove an item from a set using discard()
thisset={"apple", "banana", "cherry"}
thisset.discard("banana")   
print(thisset)

{'apple', 'cherry'}

In [10]:
#remove the last item from a set
thisset={"apple", "banana", "cherry"}   
thisset.pop()
print(thisset)

{'banana', 'cherry'}

In [11]:
#empty the set
thisset={"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [14]:
#delete the set
thisset={"apple", "banana", "cherry"}
del thisset
print (thisset)

NameError: name 'thisset' is not defined

In [15]:
#create a dictionary
thisdict={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [17]:
#create a dictionary
thisdict={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
#print the value of the "brand" key
print(thisdict["brand"])

Ford

In [18]:
#dictionary with duplicate values
thisdict={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2021
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}

In [19]:
#DETERMINE THE LENGTH OF A DICTIONARY
thisdict={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(len(thisdict))

3

In [20]:
#DATA TYPES IN A DICTIONARY
thisdict={
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [23]:
# get keys in a dictionary
thisdict={
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
x=thisdict.keys()
print(x)
thisdict["colors"]= "black"
print(thisdict)

dict_keys(['brand', 'electric', 'year', 'colors'])
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': 'black'}

In [3]:
#if statement
a=50
b=10
if a>b:
    print("a is greater than b")

a is greater than b

In [4]:
#elif statement
a=66
b=66
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [5]:
#elif statement and else statement
a=166
b=66
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [7]:
#else statement
a=190
b=100
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [11]:
#short hand if
x=150
y=100
if x>y: print("x is greater than y")

x is greater than y

In [12]:
#short hand if else
m=789
n=889
print("m is greater than n") if m>n else print("n is greater than m")

n is greater than m

In [15]:
#multiple short hand if else
o=8000
p=1000
print("o is greater than p") if o>p else print("o is less than p") if o<p else print("o and p are equal")

o is greater than p

In [16]:
#if else with AND
q=200
r=33
s=500
if q>r and s>q:
    print("Both conditions are True")

Both conditions are True

In [17]:
#if else with OR
q=200
r=33
s=500
if q>r or q>s:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [21]:
#nested if
t=100
if t>10:
    print("Above ten,") #this is the first block
    if t>20:
        print("and also above 20!")#this is the second block
    else:
        print("but not above 20.")#this is the third block

Above ten,
and also above 20!

In [24]:
#check if the number is positive or negative using nested if
u=int(input("Enter a number: "))
if u>=0:
    if u==0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Zero

In [27]:
#while loop
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [28]:
#while loop with break statement
j=1
while j<6:
    print(j)
    if j==3:
        break
    j+=1

1
2
3

In [29]:
#continue statement in while loop
k=0
while k<6:
    k+=1
    if k==3:
        continue
    print(k)

1
2
4
5
6

In [1]:
#simple function
def my_function():
    print("Hello from a function")  
my_function()

Hello from a function

In [4]:
#function checking if number is even or odd
def even_odd(num):
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
even_odd(5)

The number is odd

In [5]:
#python function to demonstrate keyword and default arguments
def student(firstname, lastname):
    print(firstname, lastname)
student(firstname="Austin", lastname="Owuor")

Austin Owuor

In [6]:
#python function to demonstrate return keyword
def add(a, b):
    return a+b
sum=add(4,5)
print("Sum of 4 and 5 is", sum)

Sum of 4 and 5 is 9

In [1]:
#demonstrate how to open a file
f=open("demofile.txt", "r")
print(f.read())
f.close()

I love Programming

In [5]:
#demonstrate how to write to a file
f=open("demofile.txt", "a")
f.write("\n Now the file has more content!")
f.close()

In [6]:
#reading parts of the file
f=open("demofile.txt", "r")
print(f.read(5))

I lov

In [7]:
#read one line of the file
f=open("demofile.txt", "r")
print(f.readline())

I love ProgrammingNow the file has more content!

In [9]:
#delete a file
import os
os.remove("demofile.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'demofile.txt'

In [13]:
#create a new file
f=open("myfile.txt", "a")

In [15]:
#zero division error
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
c=a/b
print("a/b=%d"%c)

#other code
("other code")

ZeroDivisionError: division by zero

In [16]:
#try and except block
try:
    a=int(input("Enter a number: "))
    b=int(input("Enter another number: "))
    c=a/b
    print("a/b=%d"%c)
except ZeroDivisionError:
    print("Division by zero is not allowed")

Division by zero is not allowed

In [17]:
#try and except block with else
try:
    a=int(input("Enter a number: "))
    b=int(input("Enter another number: "))
    c=a/b
    print("a/b=%d"%c)
except ZeroDivisionError:
    print("Division by zero is not allowed")
else:
    print("Division successful")

a/b=1
Division successful

In [2]:
#READ CSV WITH DICTREADER
import csv
with open('Book1.csv') as csvfile:
    m=list(csv.DictReader(csvfile))
print(m[:3])

[{'Name': 'Austin', 'Age': '19', 'Major ': 'IST', 'GPA': '2', 'Hobbies': 'CHILLING'}, {'Name': 'James', 'Age': '20', 'Major ': 'APT', 'GPA': '2', 'Hobbies': 'CHILLING'}, {'Name': 'Albert', 'Age': '25', 'Major ': 'IBA', 'GPA': '2.5', 'Hobbies': 'HIKING'}]

In [3]:
#READ WITH READER
import csv
with open('Book1.csv') as csvfile:
    m=list(csv.reader(csvfile)) 
print(m[:3])

[['Name', 'Age', 'Major ', 'GPA', 'Hobbies'], ['Austin', '19', 'IST', '2', 'CHILLING'], ['James', '20', 'APT', '2', 'CHILLING']]

In [4]:
#write to csv with DictWriter
import csv
with open('Book1.csv', 'w', newline='') as csvfile:
    fieldnames=['Name', 'Age', 'Major', 'GPA', 'Hobbies']
    writer=csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'Name': 'Alex', 'Age': '20', 'Major': 'Computer Science', 'GPA': '3.5', 'Hobbies': 'Reading'})
    writer.writerow({'Name': 'John', 'Age': '22', 'Major': 'Biology', 'GPA': '3.0', 'Hobbies': 'Swimming'})
    writer.writerow({'Name': 'Jane', 'Age': '21', 'Major': 'Mathematics', 'GPA': '3.8', 'Hobbies': 'Dancing'})
    writer.writerow({'Name': 'Alice', 'Age': '23', 'Major': 'Physics', 'GPA': '3.7', 'Hobbies': 'Singing'})

In [8]:
#Looping throw rows
import csv
f=open('Book1.csv')
csv_f=csv.reader(f)
for row in csv_f:
    print(row)

['Name', 'Age', 'Major', 'GPA', 'Hobbies']
['Alex', '20', 'Computer Science', '3.5', 'Reading']
['John', '22', 'Biology', '3.0', 'Swimming']
['Jane', '21', 'Mathematics', '3.8', 'Dancing']
['Alice', '23', 'Physics', '3.7', 'Singing']

In [9]:
#loop throw rows and print to a list
import csv
f=open('Book1.csv')
csv_f=csv.reader(f)
model_no=[]
for row in csv_f:
    model_no.append(row[2])
print(model_no)

['Major', 'Computer Science', 'Biology', 'Mathematics', 'Physics']

In [10]:
#extract information from a csv file
import csv
f=open('Book1.csv')
csv_f=csv.reader(f)
for row in csv_f:
    print(row[2])

Major
Computer Science
Biology
Mathematics
Physics

In [11]:
#converting list to sets in a csv file
import csv
f=open('Book1.csv')
csv_f=csv.reader(f)
model_no=[]
for row in csv_f:
    model_no.append(row[2])
print(set(model_no))

{'Biology', 'Computer Science', 'Physics', 'Major', 'Mathematics'}

In [1]:
#series with arbitary list
import pandas as pd
names  = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
pd.Series(names)

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
dtype: object

In [4]:
#series with index
import pandas as pd
names  = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
pd.Series(names, index=['String1', 'String2', 'String3', 'String4', 'String5'])

String1        Bob
String2    Jessica
String3       Mary
String4       John
String5        Mel
dtype: object

In [ ]:
#series with a dictionary
import pandas as pd
dict={'science': 100, 'math': 95, 'english': 90, 'history': 85, 'geography': 80}
pd.Series(dict)

science      100
math          95
english       90
history       85
geography     80
dtype: int64

In [9]:
#print index of a series
import pandas as pd
dict={'science': 100, 'math': 95, 'english': 90, 'history': 85, 'geography': 80}
s=pd.Series(dict)
print(s.index)

Index(['science', 'math', 'english', 'history', 'geography'], dtype='object')

In [ ]:
#none
import numpy as np
import pandas as pd
names=['Bob', 'Jessica', 'Mary', 'John', 'Mel',None]
pd.Series(names)

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
5       None
dtype: object

In [12]:
#nan
import numpy as np
import pandas as pd
numbers=[1, 2, 3, 4, 5,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [14]:
#iloc vs loc
import pandas as pd
names=['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 
s=pd.Series(names, index=['A', 'B', 'C', 'D', 'E'])
print(s.iloc[2])
#loc
print(s.loc['D'])

Mary
John

In [16]:
#Dataframe passing numpy array with datetime index
import numpy as np
import pandas as pd
dates=pd.date_range('20250101', periods=6)
dates
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2025-01-01  0.890481 -0.169579  1.164888  0.208309
2025-01-02 -1.841012 -0.001797 -0.385076 -0.282027
2025-01-03 -1.107914 -0.807277 -1.489077  1.025848
2025-01-04 -0.036599  1.068752 -0.788330 -1.092406
2025-01-05 -0.884406  1.638564 -1.609230  0.281902
2025-01-06  0.508181  0.358307 -1.384857  0.645382

In [18]:
#dataframe with objects passed to series
import pandas as pd
df2=pd.DataFrame({'A' : 1.,
     'B' : pd.Timestamp('20250102'),
     'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
     'D' : np.array([3]*4, dtype='int32'),
     'E' : pd.Categorical(["test", "train", "test", "train"]),
     'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2025-01-02  1.0  3   test  foo
1  1.0 2025-01-02  1.0  3  train  foo
2  1.0 2025-01-02  1.0  3   test  foo
3  1.0 2025-01-02  1.0  3  train  foo

In [ ]:
#creating a dataframe
import pandas as pd
name_1=pd.Series({'Student':'James','ID':1,'Major':'Mathematics','GPA':3.5})
name_2=pd.Series({'Student':'John','ID':2,'Major':'Physics','GPA':3.7})
name_3=pd.Series({'Student':'Jane','ID':3,'Major':'Biology','GPA':3.8})
name_4=pd.Series({'Student':'Alice','ID':4,'Major':'Computer Science','GPA':3.9})
df=pd.DataFrame([name_1, name_2, name_3, name_4],index=['Student','ID','Major','GPA'])
df.head()

        Student  ID             Major  GPA
Student   James   1       Mathematics  3.5
ID         John   2           Physics  3.7
Major      Jane   3           Biology  3.8
GPA       Alice   4  Computer Science  3.9

In [7]:
#extract using loc
import pandas as pd
name_1=pd.Series({'Student':'James','ID':1,'Major':'Mathematics','GPA':3.5})
name_2=pd.Series({'Student':'John','ID':2,'Major':'Physics','GPA':3.7})
name_3=pd.Series({'Student':'Jane','ID':3,'Major':'Biology','GPA':3.8})
name_4=pd.Series({'Student':'Alice','ID':4,'Major':'Computer Science','GPA':3.9})
df=pd.DataFrame([name_1, name_2, name_3, name_4],index=['Student','ID','Major','GPA'])
df.loc['Student']
df.loc['Student':'Major']

        Student  ID        Major  GPA
Student   James   1  Mathematics  3.5
ID         John   2      Physics  3.7
Major      Jane   3      Biology  3.8

In [ ]:
#rename columns
import pandas as pd

df.rename(columns={'Student':'Name', 'ID':'Identification', 'Major':'Subject', 'GPA':'Grade'}, inplace=True)
df.head()

          Name  Identification           Subject  Grade
Student  James               1       Mathematics    3.5
ID        John               2           Physics    3.7
Major     Jane               3           Biology    3.8
GPA      Alice               4  Computer Science    3.9

In [ ]:
#drop columns
import pandas as pd

df=pd.DataFrame([name_1, name_2, name_3, name_4],index=['Student','ID','Major','GPA'])
df.drop('Student', axis=0, inplace=True)
df.head()

      Student  ID             Major  GPA
ID       John   2           Physics  3.7
Major    Jane   3           Biology  3.8
GPA     Alice   4  Computer Science  3.9

In [ ]:
#querying a dataframe
import pandas as pd

df[df['GPA']>3.7]

      Student  ID             Major  GPA
Major    Jane   3           Biology  3.8
GPA     Alice   4  Computer Science  3.9

In [19]:
#querying with a logical operator
import pandas as pd
name_1=pd.Series({'Student':'James','ID':1,'Major':'Mathematics','GPA':3.5})    
name_2=pd.Series({'Student':'John','ID':2,'Major':'Physics','GPA':3.7})
name_3=pd.Series({'Student':'Jane','ID':3,'Major':'Biology','GPA':3.8})
name_4=pd.Series({'Student':'Alice','ID':4,'Major':'Computer Science','GPA':3.9})
df=pd.DataFrame([name_1, name_2, name_3, name_4],index=['Student','ID','Major','GPA'])
df[(df['GPA']>3.7) & (df['ID']>2)] #logical operator

      Student  ID             Major  GPA
Major    Jane   3           Biology  3.8
GPA     Alice   4  Computer Science  3.9

In [1]:
#handling missing data
import csv
import pandas as pd
df=pd.read_csv('Book1.csv')
print(df.isnull().tail())

    Name    Age  Major    GPA  Hobbies
0  False  False  False  False    False
1  False  False  False   True     True
2  False  False  False   True     True
3  False  False  False   True    False

In [2]:
#handling missing data
import csv
import pandas as pd
df=pd.read_csv('Book1.csv')
print(df.notnull().tail())

   Name   Age  Major    GPA  Hobbies
0  True  True   True   True     True
1  True  True   True  False    False
2  True  True   True  False    False
3  True  True   True  False     True

In [ ]:
#grouping data
import csv
import pandas as pd
df=pd.read_csv('employee_data.csv')
print(df.groupby('Department').Salary.sum())

Department
Engineering    1494331.0
Finance        1682558.0
HR             1534811.0
Marketing      1663602.0
Sales          1329831.0
Name: Salary, dtype: float64

In [10]:
#grouping data
import csv
import pandas as pd
df=pd.read_csv('employee_data.csv')
print(df[df.Department == 'Sales'].Salary.mean())

63325.28571428572

In [11]:
#grouping data with aggregate function
import csv
import pandas as pd
df=pd.read_csv('employee_data.csv')
print(df.groupby('Department').agg({'Salary':'sum','Age':'mean'}))

                Salary        Age
Department
Engineering  1494331.0  37.315789
Finance      1682558.0  49.473684
HR           1534811.0  41.947368
Marketing    1663602.0  37.619048
Sales        1329831.0  30.318182

In [14]:
#nominal scale in DataFrames
import pandas as pd
df=pd.DataFrame({'A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F'}, columns=['Grades'],index=['Excellent','Excellent','Excellent','Good','Good','Good','Average','Average','Average','Poor','Poor','Poor','Fail'])
df.rename(columns={0:'Grades'}, inplace=True)
a=df['Grades'].astype('category').head()
print(a)

Excellent    B+
Excellent    A-
Excellent    A+
Good         D+
Good         C+
Name: Grades, dtype: category
Categories (13, object): ['A', 'A+', 'A-', 'B', ..., 'D', 'D+', 'D-', 'F']

In [17]:
#ordinal scale in DataFrames
import pandas as pd
df=pd.DataFrame({'A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F'}, columns=['Grades'],index=['Excellent','Excellent','Excellent','Good','Good','Good','Average','Average','Average','Poor','Poor','Poor','Fail'])   
df.rename(columns={0:'Grades'}, inplace=True)
from pandas.api.types import CategoricalDtype

# Define the ordered categorical type
grades_order = CategoricalDtype(categories=['F', 'D-', 'D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)

# Apply the ordered categorical type to the Grades column
grades = df['Grades'].astype(grades_order)
print(grades.head())

Excellent    B+
Excellent    A-
Excellent    A+
Good         D+
Good         C+
Name: Grades, dtype: category
Categories (13, object): ['F' < 'D-' < 'D' < 'D+' ... 'B+' < 'A-' < 'A' < 'A+']